html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

h1{
    color: navy;
}

/*aunque sean mas garde, el tamaño maximo que van a alcanzar es el de la pantall*/
img,
video{
    max-width: 100%;
    height: auto;
}
iframe{
    width: 80%;
    height: 400px;
}